.prodcategories {
  background-color: white;
  color: black;
}

.title {
  max-width: 1240px;
  padding: 0 2rem;
  margin: 1rem auto;

  h1 {
    font-size: 1.5rem;
    color: #aa1919;
  }
}

.products {
  max-width: 1240px;
  padding: 0 auto;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.product {
  align-items: center;
  text-align: center;

  img {
    height: 245px;
    width: 295px;
    margin-bottom: 0.5rem;
    border-radius: 6px;
  }

  h2 {
    font-size: 1.2rem;
    align-items: center;
    margin-bottom: 0.2rem;
  }

  button {
    border: none;
    border-radius: 113px;
    background-color: #aa1919;
    color: white;
    width: 130px;
    height: 35px;
    margin-bottom: 2rem;
  }
}

// RESPONSIVIDADE

@media (max-width: 1024px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .product img {
    width: 100%;
    height: auto;
  }

  .product h2 {
    font-size: 1rem;
  }

  .product button {
    width: 120px;
    height: 30px;
  }
}

@media (max-width: 768px) {
  .products {
    grid-template-columns: 1fr;
  }

  .title h1 {
    font-size: 1.2rem;
  }

  .product img {
    width: 100%;
    height: auto;
  }

  .product h2 {
    font-size: 1rem;
  }

  .product button {
    width: 100%;
    height: 40px;
  }
}
