.infos {
  background-color: white;
  color: black;
}

.container {
  max-width: 1240px;
  padding: 0 2rem;
  margin: 2rem auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact_title {
  h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
}

.contact_card {
  background-color: #aa1919;
  border-radius: 6px;
  padding: 1rem 1rem;
  color: white;

  p {
    font-size: 1rem;

    span {
      font-weight: 600;
    }
  }
}

// RESPONSIVIDADE

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 1rem;
  }

  .contact_title h2 {
    font-size: 1rem;
  }

  .contact_card p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .container {
    margin: 1rem auto;
    padding: 0 1rem;
  }

  .contact_card {
    padding: 0.8rem;
  }

  .contact_card p {
    font-size: 0.8rem;
  }

  .contact_title h2 {
    font-size: 0.9rem;
  }
}
