.aboutServ {
  background-color: #aa1919;
  color: #ffffff;
  display: flex;
  flex-direction: column;

  .serv {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    white-space: pre-line;
    max-width: 1240px;
    padding: 0 2rem;
    margin: 2rem auto;

    .texts {
      text-align: left;

      h1 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.5;
        white-space: pre-line;
      }
    }
  }

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Assegura que a div tenha 100% da largura disponível */
    max-width: 600px; /* Limita o tamanho da imagem para uma largura máxima */
    height: 400px; /* Altura fixa para manter a padronização */

    img {
      width: 100%; /* A imagem ocupa 100% da largura da div */
      height: 100%; /* A altura vai preencher a div também */
      object-fit: cover; /* A imagem vai cobrir toda a área da div sem distorção */
      border-radius: 8px; /* Opcional: arredondar as bordas da imagem */
    }
  }
}

// RESPONSIVIDADE

@media (max-width: 768px) {
  .serv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .texts {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;

    h1 {
      font-size: 1.3rem;
    }

    p {
      font-size: 0.95rem;
    }
  }

  .img {
    display: flex;
    width: 100%;
    height: auto; /* A altura da imagem será ajustada automaticamente para manter a proporção */
    max-width: 100%; /* Não ultrapassa a largura da tela no mobile */
    height: 250px; /* Ajuste a altura no mobile para ser mais amigável */

    img {
      width: 100%; /* A imagem vai preencher a largura */
      height: 100%; /* A altura vai preencher a div também */
      object-fit: cover; /* A imagem vai cobrir completamente a área da div */
    }
  }
}
